@using SharedLib
@using System.Linq;


<div class="well quote">
    <h3>@Quote.Quote</h3>
    <p>Said by: @Quote.SaidBy</p>
    <p>When: @Quote.When</p>

    @if (!string.IsNullOrEmpty(EditLink) && !string.IsNullOrEmpty(DeleteLink))
    {
        <NavLink class="btn btn-primary" href="@EditLink">Edit</NavLink>
        <NavLink class="btn btn-danger" href="@DeleteLink">Delete</NavLink>
    }
</div>

@code {
  [Parameter]
  public QuoteDTO Quote { get; set; }

  [Parameter]
  public string EditLink { get; set; }

  [Parameter]
  public string DeleteLink { get; set; }
}